<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grades</title>
</head>
<body>
    <main>
     
    <% if(result.length === 0){ %>
        <h1>No Marks for student!!</h1>
    
        <% } %>
    
        <ul>
              <%  for(const x of result){ %>
                <li>
                  <h2><%= x.name %></h2>
                  <p><%= x.subject %></p>
                  <p><%= x. markType %></p>
                  <p><%= x.score %></p>
                  <p><%= x.semester %></p>
                </li>
    
           <% } %>
        </ul>
    </main>
</body>
</html>