<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Mark</title>
</head>
<body>
    <% if(getMarks.length === 0){ %>
        <h1>No Marks for students yet!!</h1>
        <p>You can start by creating one <a href="/createMark">here</a></p>
    
        <% } %>
    
        <ul>
              <%  for(const x of getMarks){ %>
                <li>
                  <h2><%= x.name %></h2>
                  <p><%= x.subject %></p>
                  <p><%= x. markType %></p>
                  <p><%= x.score %></p>
                  <p><%= x.semester %></p>
                </li>
                <a href="/update/<%= x._id %>">Update Mark</a>
                <form action="" method="POST">
                  <button>Delete</button>
                </form>
    
           <% } %>
        </ul>
</body>
</html>