<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marks</title>
</head>
<body>
    <form action="/updateMark/<%= score._id %>" method="POST">
<p>
    <label for="name">Student Name</label>
    <input type="text" name="name" id="name" value="<%= score.name %>">
</p>

<p>
    <label for="sub">Subject</label>
    <input type="text" name="subject" id="sub" value="<%= score.subject %>">
</p>

<p>
    <label for="score">Score</label>
    <input type="number" name="score" id="score" value="<%= score.score %>">
</p>

<p>
    <label for="sem">Semester</label>
    <input type="text" name="semester" id="sem" value="<%= score.semester %>">
</p>

<p>
    <label for="type">Mark Type</label>
    <input type="text" name="markType" id="type" placeholder="Either Test or Examination" value="<%=score.markType%>">
</p>

<button>Update</button>

    </form>
</body>
</html>